@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Welcome To ALE-BOooK </h1>
    </br>

   <center>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/img/E-BOOK.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-danger"> ALE-BOooK </h5>
                <p class="card-text">E-Book is a weeb site to buy your book with differents categories and good price that will make you happy to buy . In that web site we give you all the information about any book you want ,Thank you for your trust and i hop you find what do you want.</p>
             
            </div>
        </div>
    </div>
        </div>
    </center>
</div>

